/ZimoziSolutions/ZimoziSolutions/bin
/ZimoziSolutions/ZimoziSolutions/obj
/ZimoziSolutions/ZimoziSolutions.ApiModels/bin
/ZimoziSolutions/ZimoziSolutions.ApiModels/obj
/ZimoziSolutions/ZimoziSolutions.Common/bin
/ZimoziSolutions/ZimoziSolutions.Common/obj
/ZimoziSolutions/ZimoziSolutions.Core/bin
/ZimoziSolutions/ZimoziSolutions.Core/obj
/ZimoziSolutions/ZimoziSolutions.Core.Interfaces/obj
/ZimoziSolutions/ZimoziSolutions.Core.Interfaces/bin
/ZimoziSolutions/ZimoziSolutions.Domain/obj
/ZimoziSolutions/ZimoziSolutions.Domain/bin
/ZimoziSolutions/ZimoziSolutions.Exceptions/bin
/ZimoziSolutions/ZimoziSolutions.Exceptions/obj
/ZimoziSolutions/ZimoziSolutions.Infrastructure/obj
/ZimoziSolutions/ZimoziSolutions.Infrastructure/bin
/ZimoziSolutions/ZimoziSolutions.Infrastructure.Interfaces/bin
/ZimoziSolutions/ZimoziSolutions.Infrastructure.Interfaces/obj
